.home {
  display: block;
  display: flex;
  flex-direction: row;
  height: 100dvh;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 80px;
}

.home-left-section {
  flex: 2;
  display: block;
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  flex-wrap: wrap;
  max-width: max-content;
  padding-left: 48px;
}

.home-left-section .hi {
  font-size: 36px;
  color: var(--accent-color);
}

.accent {
  color: var(--accent-color);
}

.home-left-section .hint {
  font-size: 48px;
}

.home-right-section {
  padding: 0;
  margin: 0;
  flex: 1;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.home-right-section img {
  width: 90%;
  aspect-ratio: 1;
  object-fit: contain;
  background: radial-gradient(
    circle at center,
    var(--accent-color),
    var(--glow-color),
    var(--primary-bg)
  );
  border-radius: 50%;
}

.home-left-section .hint-third {
  font-size: 24px;
  white-space: normal;
  margin-top: 24px;
  margin-bottom: 16px;
}

.main-cta-button {
  border: none;
  margin-top: 24px;
  font-size: 16px;
  font-weight: normal;
  background-color: var(--glow-color);
  color: var(--text-primary);
  padding: 12px;
  font-weight: bold;
  transition: all 0.2s ease;
  cursor: pointer;
  border-radius: 16px;
  box-shadow: 0px 0px 10px var(--accent-color);
}

.main-cta-button:hover {
  scale: 1.1;
  animation: vibrate 0.5s ease infinite;
}

@keyframes vibrate {
  25% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
}

@media (max-width: 760px) {
  .home {
    flex-direction: column;
    height: auto !important;
  }
  .home-left-section .hi {
    font-size: 16px;
  }
  .home-left-section .hint {
    font-size: 10px;
  }
  .home-left-section .hint-third {
    font-size: 4px;
    margin-top: 12px;
    margin-bottom: 16px;
  }
  .home-left-section {
    padding-left: 13px;
  }
  .main-cta-button {
    margin-top: 0;
  }
}

@media (max-width: 1000px) and (min-width: 761px) {
  .home-left-section .hi {
    font-size: 22px;
  }
  .home-left-section .hint {
    font-size: 28px;
  }
  .home-left-section .hint-third {
    font-size: 18px;
  }
}
