nav {
  width: 100dvw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 16px;
  font-size: 32px;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-bg);
  padding-bottom: 20px;
}

.desktop-right-section ul {
  list-style-type: none;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.desktop-right-section li {
  margin: 0px 16px;
  margin-top: 4px !important;
  cursor: pointer;
  position: relative;
  transition: all ease 0.3s;
  margin-left: 62px;
}

.desktop-right-section li::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--accent-color);
  box-shadow: 0 0 5px var(--glow-color);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.desktop-right-section li:hover::after {
  width: 100%;
}

.nav-left-section {
  margin-left: 40px;
}

.nav-right-section {
  margin-right: 40px;
}

.nav-left-section .logo .logo-span {
  color: var(--accent-color);
  text-shadow: 0px 0px 15px var(--glow-color);
}

.desktop-right-section li:hover {
  color: var(--accent-color);
  text-shadow: 0 0 10px var(--glow-color);
}

.desktop-right-section li:active {
  scale: 0.8;
}

.mobile-right-section {
  display: none;
}

@media (max-width: 970px) {
  .desktop-right-section {
    display: none !important;
  }
  .mobile-right-section {
    display: block;
    margin-right: 12px;
  }
  .nav-left-section {
    margin-left: 12px;
    font-size: 30px;
  }
  .nav-right-section {
    margin-right: 12px;
  }
}

.nav-menu {
  display: inline-block;
  display: flex;
  z-index: 10000;
  position: fixed;
  top: 70px;
  right: 50px;
  width: 40dvw;
  height: auto;
  padding-top: 16px;
  padding-bottom: 28px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid var(--accent-color);
  border-radius: 24px;
  animation: appear 1s;
  box-shadow: 0px 0px 20px var(--glow-color);
  background-color: var(--primary-bg);
  font-size: 16px;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav-menu ul {
  list-style: none;
}

.nav-menu ul li {
  margin-top: 16px;
  border-bottom: 1px solid var(--accent-color);
}
