.app {
  width: 99svw;
  background-color: var(--primary-bg);
  padding: 0;
  margin: 0;
}

.hidden {
  display: none !important;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.displayed {
  animation: appear 0.8s ease-in;
}
